Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md

.git
**/.git

.next
**/.next

.vercel
**/.vercel

.ipynb_checkpoints/
**/.ipynb_checkpoints/
Untitled.ipynb
*.ipynb
**/.ipynb

.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
tmp*/
**/tmp*/
*.rdb

chroma_db
**/chroma_db

tests/
**/tests/

.pytest_cache/
**/.pytest_cache/
**/pytest-coverage.txt
**/pytest.xml

api/matching_results_test_session.json
matching_results_test_session.json

report.json

api/task_state_*.json
.task_state_*.json
celery.log

# None default sessions
api/sessions/*
**/api/sessions/*
!api/sessions/default
# But remove api/sessions/default/chroma_db
api/sessions/default/chroma_db
**/api/sessions/default/chroma_db

.env
**/.env