Flask==3.0.3
redis==6.0.0
celery==5.5.2
fuzzywuzzy
jq
sentence_transformers
transformers
torch
mmh3
pandas
numpy==1.24.2

# langchain-anthropic==0.3.1
langchain-community
langchain_huggingface
# langchain-ollama
langchain-openai
# langchain-together
langgraph
# duckduckgo-search

hf_xet
python-dotenv
pydantic
rapidfuzz
bdi-kit==0.5.0
